<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensalista</title>
</head>
<body>
    <h1>Mensalista</h1>

    <ul>
        {% for mensalista in mensalistas %}
        
        <li>
            <a href="{% url 'mensalista_update' mensalista.id %}">{{ mov.veiculo }} - {{ mensalista.inicio}}</a>
        </li>
    
        {%endfor%}

    </ul>

    <form action="{% url 'mensalista_novo' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button>Cadastrar</button>
    </form>
</body>
</html>