{% extends 'base.html'%}
{% load bootstrap %}

{% block menu %}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"
            active>Serviços</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'pessoa' %}">Pessoas</a>
            <a class="dropdown-item" href="{% url 'veiculo' %}">Veículos</a>
            <a class="dropdown-item" href="{% url 'mov_rot' %}">Rotativo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'mensalista' %}">Mensalistas</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
    </li>

</ul>

{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12">

            <h1>Movimento Mensalista</h1>

        </div>

    </div>

    <div class="row">

        <div class="col-md-6">

            <form action="{% url 'mov_mensalista_novo' %}" method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
        
                <button class="btn btn-primary">Cadastrar</button>
                
            </form>

        </div>

        <div class="col-md-6">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">MENSALISTA</th>
                        <th scope="col">DATA PAGAMENTO</th>
                        <th scope="col">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mov in mov-mensal %}
                    <tr>
                        <td scope="row"></td>
                        <td><a href="{% url 'movmensalista_update' mov.id%}">{{ mov.id }}</a></td>
                        <td>{{ mov.mensalista }}</td>
                        <td>{{ mov.dt_pago }}</td>
                        <td>{{ mov.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
    
            </table>

        </div>

    </div>

  

 

{% endblock %}