<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimento Mensalista</title>
</head>
<body>
    <h1>Movimento Mensalista</h1>

    <ul>
        {% for mov_mensalista in mov_mensalistas %}
        
        <li>
            <a href="{% url 'movmensalista_update' mov_mensalista.id %}">{{mov_mensalista.mensalista}} - {{ mov_mensalista.dt_pago }}</a>
        </li>
    
        {%endfor%}

    </ul>

    <form action="{% url 'mov_mensalista_novo' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button>Cadastrar</button>
    </form>
</body>
</html>