{% extends 'base.html' %}
{% load bootstrap %}

{% block menu %}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"
            active>Serviços</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'pessoa' %}">Pessoas</a>
            <a class="dropdown-item" href="{% url 'veiculo' %}">Veículos</a>
            <a class="dropdown-item" href="{% url 'mov_rot' %}">Rotativo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'mensalista' %}">Mensalistas</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
    </li>

</ul>

{% endblock %}


{% block main %}

<div class="row">

    <div class="col-12">

        <h1>Lista Pessoas</h1>

    </div>

</div>

<div class="row">

    <div class="col-sm-6">

        <form action="{% url 'pessoa_novo' %}" method="post">
            {% csrf_token %}

            {{ form|bootstrap }}

            <button class="btn btn-primary">Cadastrar</button>

        </form>

    </div>

    <div class="col-sm-6">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">NOME</th>
                    <th scope="col">ENDEREÇO</th>
                    <th scope="col">TELEFONE</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas%}
                <tr>
                    <td scope="row"></td>
                    <td><a href="{% url 'pessoa_update' pessoa.id %}">{{ pessoa.id }}</a></td>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.endereco }}</td>
                    <td>{{ pessoa.telefone }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</div>

{% endblock %}