{% extends 'base.html'%}
{% load bootstrap %}

{% block main %}

    <div class="row">

        <div class="col-md-6">

            <h2>Updating Movimento Mensalista: {{ mov_mensal }}</h2>
        
            <form action="{% url 'movmensalista_update' mov_mensal.id %}" method="post">
                {% csrf_token %}
        
                {{ form.as_p }}
        
                <button class="btn btn-primary">Cadastrar</button>
        
            </form>
        
            <a class="btn btn-danger mt-2" href="{% url 'movmensalista_delete' mov_mensal.id %}">Deletar</a>

        </div>

    </div>

{% endblock %}