{% extends 'base.html'%}
{% load bootstrap %}

{% block main %}

    <div class="row">
        <div class="col-md-6">

            <h2>Updating Mensalista: {{ mensalista }}</h2>
        
            <form action="{% url 'mensalista_update' mensalista.id %}" method="post">
                {% csrf_token %}
        
                {{ form.as_p }}
        
                <button class="btn btn-primary">Cadastrar</button>
        
            </form>
        
            <a class="btn btn-danger mt-2" href="{% url 'mensalista_delete' mensalista.id %}">Deletar</a>

        </div>

    </div>

{% endblock %}    