{% extends 'base.html' %}
{% load bootstrap %}

{% block main%}

    <div class="row">

        <div class="col-md-6">

            <h2>Updating Pessoa: {{ pessoa }}</h2>
        
            <form action="{% url 'pessoa_update' pessoa.id %}" method="post">
                {% csrf_token %}
        
                {{ form|bootstrap }}
        
                <button class="btn btn-primary">Cadastrar</button>
            </form>
        
            <a class="btn btn-danger mt-3" href="{% url 'pessoa_delete' pessoa.id %}">Deletar</a>

        </div>

    </div>

    
{% endblock%}